[mysqld]
# Make sure the MySQL temporary files are not removed on reboots, because that
# can break replication on the slave.
tmpdir			= /var/tmp

# No writes to the slave!
read-only       	= 1

# Don't add the hostname to the relay log filenames, to make it possible to
# initialize a new slave by just copying over the MySQL data dir from an
# existing slave to the new slave.
relay-log		= relay-bin
<% if has_variable?("mysql_bin_logging") && mysql_bin_logging -%>

# Allows other slaves to use this slave as their master.
log-slave-updates
<% end -%>
